// Specific CSS for your home-page
body {
  background-color: $white-pink;
}

.landing img {
  width: 125px;
  height: auto;
}

h1 {
  color: #3D5A80;
  size: 48;
}

#landing {
  margin-top: 150px;
}
