// Specific CSS for your home-page
body {
  background-color: $white-pink;
}

.landing img {
  width: 125px;
  height: auto;
}

h1 {
  color: $red;
  size: 48;
  font-family: "Henriette";
}

p {
  color: #98C1D9;
  margin-bottom: 40px;
}

#landing {
  margin-top: 150px;
}
