<h1>Make Booking</h1>
<%= simple_form_for [@pet, @booking] do |f|%>
  <%= f.input :start_date, as: :date, html5: true %>
  <%= f.input :end_date, as: :date, html5: true  %>
  <%= f.submit "Submit Request", class: "btn btn-primary" %>
<%end%>
