<h1>Edit Booking</h1>
<%= simple_form_for @booking do |f|%>
  <%= f.input :start_date, as: :date, html5: true %>
  <%= f.input :end_date, as: :date, html5: true %>
  <%= f.submit "Submit Request", class: "btn btn-primary" %>
<%end%>
