<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/tomas-trls/PetHub" target="_blank"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram" target="_blank"></i></a>
    <a href="#"><i class="fab fa-facebook" target="_blank"></i></a>
    <a href="#"><i class="fab fa-twitter" target="_blank"></i></a>
    <a href="#"><i class="fab fa-linkedin" target="_blank"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
