<div class="container">
  <div class="row justify-content-center" id="landing">
    <div class="landing col-6 d-flex justify-content-center flex-column align-items-center">
      <%= image_tag "paw" %>
      <div class="tagline">
        <h1>PetHub</h1>
        <p>Share the love!</p>
      </div>
      <a class="btn btn-flat" href="#">Learn More</a>
    </div>
  </div>
</div>
