@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

.card-trip {
  overflow: hidden;
  background: $white-pink;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: all .2s ease-in-out;
  border-radius:36px;
  border: 1px solid $red;
}

.card-category {
  border-radius: 8px;
}

.card-category a {
  text-decoration: none;
}

.card-trip:hover {
  transform: scale(1.05);
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  margin-left: 0;
}
.image-container {
  position: relative;
}

.pet-card-image {
  object-fit: cover;
  height: 180px;
  width: 100%;

}


.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: $red;
  font-family: 'Henriette';
  font-size: 1.2em;
}

.card-trip p {
  font-size: 12px;
  margin: 0;
  color: #ff8482;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

// fancy card css

.fancy-card-wrapper {
  width: 400px;
  height: 500px;
  position: relative;
  margin-right: 100px;
}

.fancy-card {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  height: 450px;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: 0.5s;


  .fancy-card-image {
    position: absolute;
    top: 0px;
    left: 00px;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #000;
    transition: .5s;
  }

  .fancy-card-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-color: $white-pink;
    background-position: center;
  }

  &:hover img {
    opacity: 0.4;
    transition: .5s;
  }
}

.fancy-card:hover .fancy-card-image {
  transform: translateY(-100px);
  transition: all .9s;
}

.social-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: flex;

  li {
    list-style: none;

    a {
      position: relative;
      display: block;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      background: #fff;
      font-size: 23px;
      color: #333;
      font-weight: bold;
      margin: 0 6px;
      transition: .4s;
      transform: translateY(200px);
      opacity: 0;
    }
  }
}

.fancy-card:hover .social-icons li a {
  transform: translateY(0px);
  opacity: 1;
}

.social-icons li a:hover {
  background: #000;
  transition: .2s;
  .card-icon {
    color: #fff;
  }
}

.social-icons li a .card-icon {
  transition: .8s;

  &:hover {
    transform: rotateY(360deg);
    color: #fff;
  }
}

.fancy-card:hover li:nth-child(1) a {
  transition-delay: 0.1s;
}
.fancy-card:hover li:nth-child(2) a {
  transition-delay: 0.2s;
}
.fancy-card:hover li:nth-child(3) a {
  transition-delay: 0.3s;
}
.fancy-card:hover li:nth-child(4) a {
  transition-delay: 0.4s;
}

.details {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;
  width: 100%;
  height: 120px;
  z-index: 1;
  padding: 10px;

  h2 {
    margin: 30px 0;
    padding: 0;
    text-align: center;

    .pet-description {
      font-size: 1rem;
      line-height: 2.5rem;
      color: #333;
      font-weight: 300;
    }
  }
}

.pet {
  position: absolute;
  bottom: -120px;
  left: 0;
  opacity: 0;
  background: #fff;
  width: 100%;
  height: 120px;
  z-index: 3;
  padding: 10px;
  transition: .4s;
}

.profile-two .social-icons li a {
  border-radius: 50%;
}

.fancy-card:hover .profile-img--two {
  transform: rotateY(180deg);
}

.fancy-card:hover .pet {
  bottom: 0;
  left: 0;
  transition-delay: 0.5s;
  opacity: 1;
}

// card product css
.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 20px;
  transition: all .2s ease-in-out;
  border-radius: 8px;
}

.card-product:hover {
  transform: scale(1.05);
}

.card-product .icon-box {
  padding: 8px 0 8px 24px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.pet-details-cards {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.top-cards {
  display: flex;
  flex-direction: row;
}

.top-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 250px;
  .icon-box {
    padding-left: 0;
    padding-top: 30px;
  }
  .card-product-infos {
    padding-bottom: 30px;
  }
}

.booking-form-card {
  border-radius: 8px;
}

.booking-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 250px;
    padding: 10px;
    width: 100%;
    align-content: flex-end;
}

.review {
  display: flex;
  flex-direction: column;
}

.review .review-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
