@import url('https://fonts.googleapis.com/css2?family=Petemoss&display=swap');

.navbar {
  border-bottom: 2px solid $red;
  z-index: 1;
  padding: 1.5rem 1rem;
  margin-bottom: 25px;
}

.navbar-lewagon {
  justify-content: space-between;
  background: $pink;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 35px;
}

#signup-btn {
  background-color: $red;
  color: white;
  border-radius: 5px;
  &:hover {
    color: $yellow;
  }
}

#login-btn {
  color: $red;
  font-weight: 600;
  &:hover {
    color: $yellow;
  }
}

.navbar-red-text {
  color: white !important;
}

.navbar-dropdown {
  background-color: $pink;
  border-radius: 0;
  border: none;
  border-top: 1px solid red;
  margin-top: 10px;
}

#title {
  color: white;
  font-family: $title-font;
  font-size: 23px;
}

#profile-mobile {
  display: none;
}

#profile-desktop {
  display: block;
}

@media (max-width: 576px) {
  #signup-btn {
    background-color: transparent;
    border-top: 1px solid gray;
    border-radius: 0;
  }

  .navbar-lewagon .navbar-collapse {
    margin-top: 20px;
  }

  #login-btn {
    font-weight: 400;
    color: white;
  }

  #profile-desktop {
    display: none;
  }

  #profile-mobile {
  display: block;
}
}
