@import url('https://fonts.googleapis.com/css2?family=Petemoss&display=swap');

.navbar-lewagon {
  justify-content: space-between;
  background: #98C1D9;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#title {
  font-family: 'Petemoss', sans-serif;
}
