.tabs-underlined {
  display: flex;
  align-items: center;
}

.tabs-underlined .tab-underlined {
  color: #F05132;
  padding: 8px;
  margin: 8px 16px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid #F05132;
}

.nav-tabs > .nav-link {
  border-radius: 20px 20px 0 0;
  padding: 8px;
  font-size: 16px;
  background-color: #F7A1A1;
}

.nav-tabs > .nav-link.active {
  background-color: #f5c2c2
}

.nav > .nav-link.active {
  color: #F05132;
  font-weight: bold;;
}
.nav > .nav-link {
  color: #F05132;
}

.nav-tabs {
  border-bottom: 1px solid #F05132;
  margin-top: 30px;
}
